
@{
    Layout = "~/Views/Shared/_Layout_Cabinet.cshtml";
}


<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Create Task</h1>
        </div>
    </div>
    <div>
        @using (Html.BeginForm("Save", "Task", FormMethod.Post))
        {
            <p>
                Title
                @Html.TextBox("Title")
            </p>
            <p>
                Project
                @Html.DropDownList("Project", ViewBag.Project as SelectList)
            </p>

            <p>
                Priority
                @Html.DropDownList("Priority", ViewBag.Priority as SelectList)
            </p>
            <p>
                Milestone
                @Html.DropDownList("Milestone", ViewBag.Milestone as SelectList)

            </p>
            <p>
                User
                @Html.DropDownList("Users", ViewBag.Users as SelectList)
            </p>
            <p>
                Description
                @Html.TextArea("Description", "")
            </p>
            <p>
                DueDate
                @Html.TextBox("DueDate")               
            </p>



            <tr><td><input type="submit" value="Save" /></td></tr>
            <tr><td><button type="button" onclick="javascript:history.back()">Cancel</button></td></tr>
        }
    </div>
</div>
