<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


@using MakeIt.WebUI.ViewModel

@model TaskShowViewModel
@{
    Layout = "~/Views/Shared/_Layout_Cabinet.cshtml";
}


<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Create Task</h1>
        </div>
    </div>
    <div>
        @using (Html.BeginForm("Save", "Task", FormMethod.Post))
        {
            <p>
                Title
                @Html.TextBox("Title")
            </p>
            <p>
                Project
                @Html.DropDownList("Project", ViewBag.Project as SelectList)
            </p>

            <p>
                Priority
                @Html.DropDownList("Priority", ViewBag.Priority as SelectList)
            </p>            
            <p>
                Assigne to user
                @Html.DropDownList("AssignedUser", ViewBag.Users as SelectList)
            </p>
            <p>
                Description
                @Html.TextArea("Description", "")
            </p>
            <p>
                DueDate
                <input id="datepicker" name="DueDate">
                (format: mm/dd/yyyy)
                <script>
                    $(function () {
                        $("#datepicker").datepicker({
                            minDate: 0,
                            showOn: "focus"
                        });
                    });
                </script>
            </p>



            <tr><td><input type="submit" value="Save" /></td></tr>
            <tr><td><button type="button" onclick="javascript:history.back()">Cancel</button></td></tr>
        }
    </div>
</div>

