@using MakeIt.WebUI.ViewModel

@model ProjectViewModel
@{
    ViewBag.Title = "MakeIt";
}

<script defer src="~/Scripts/plugins/dataTables/projectMemberList.js"></script>

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project - @ViewBag.ActionDetermination</h1>
        </div>
    </div>
    <!-- /.row -->

    @using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            @Html.HiddenFor(m => m.Id)
            <div class="form-group row">
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6">
                    @Html.TextAreaFor(m => m.Description, 5, 9, new { @class = "form-control", placeholder = "Description" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <button type="submit" value="enter" class="page-header btn btn-success">Save</button>
                </div>
                <div class="col-lg-1">
                    <button onclick="history.go(-1);return false;" type="button" value="back" class="page-header btn btn-success">Cancel</button>
                </div>
            </div>
            <!-- /.row -->
        </fieldset>
    }

    <hr />

    @if (Model!= null)
    {
        <div class="row">
            <h3>Members</h3>
            <div class="col-lg-2">
                <table id ="projectMemberTable" class="display table-bordered" cellspacing="0" cellpadding="3" width="100%" style="width: 0px;">
                    <tbody>
                        <tr>
                            <td>@Model.Owner.Name</td>
                            <td>@Model.Owner.Email</td>
                            <td><span class="label label-info">Owner</span></td>
                        </tr>
                        <tr>
                            @foreach (var member in Model.Members)
                            {
                                <td>@member.Name</td>
                                <td>@member.Email</td>
                                <td><span class="label label-default">Member</span></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
<!-- /.page-wrapper -->
