@using MakeIt.WebUI.ViewModel;
@model List<ProjectViewModel>

@{
    ViewBag.Title = "MakeIt";
}
<script defer src="~/Scripts/plugins/dataTables/projectList.js"></script>

<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Projects</h1>
        </div>
        <div class="col-lg-2">
            <button type="button" onclick="location.href='@Url.Action("Edit", "Project", routeValues: null)'" class="page-header btn btn-success">New project</button>
        </div>
    </div>
    <!-- /.row -->

    @if (Model != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="projectTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Updated </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        @Html.Hidden(@project.Id.ToString())
                                        <td>
                                            <div>
                                                <h4>
                                                    @Html.ActionLink(@project.Name, "Edit", "Project",
                                                    new MakeIt.WebUI.ViewModel.ProjectViewModel
                                                    {
                                                        Id = project.Id,
                                                        Name = project.Name,
                                                        Description = project.Description
                                                    },
                                                    htmlAttributes: new { @class = "text-light bg-dark" })
                                                    <span class="label label-primary">Private</span>
                                                </h4>
                                                </div>
                                        </td>
                                        <td>@project.Description</td>
                                        <td>@project.LastUpdateDate</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Updated </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    }

    else
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    You don't have any projects yet.
                </div>
            </div>
        </div>
    }

</div>
<!-- /.page-wrapper -->
