<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Invisible Captcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Oxygen-Icons.org-Oxygen-Actions-view-pim-tasks.ico" rel="shortcut icon" type="image/x-icon" />
    <title>MakeIt</title>

    <!-- Bootstrap Core CSS -->
    <!-- MetisMenu CSS -->
    <!-- Custom CSS -->
    <!-- Custom Fonts -->
    @Styles.Render("~/Content/commonStyles")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <div class="text-center">
                            <img src="~/Content/images/logo.svg" alt="logo">
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Metis Menu Plugin JavaScript -->
    @Scripts.Render("~/bundles/metisMenu")

    <!-- Custom Theme JavaScript -->
    @Scripts.Render("~/bundles/sb-admin-2")

    @RenderSection("scripts", required: false)
</body>
</html>
