@using MakeIt.WebUI.ViewModel.Account
@model LoginViewModel
@{
    ViewBag.Title = "MakeIt";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="E-mail", @name="email", @type="email", @autofocus = "autofocus"  })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @name = "password", @type = "password"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })   
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="rememberme" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <button type="submit" value="enter" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            }
         </div>
    </div>
</div>