@using MakeIt.WebUI.ViewModel

@model ResetPasswordViewModel
@{
    ViewBag.Title = "MakeIt";
}

<div class="panel-body">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            @Html.HiddenFor(model => model.Code)

            <div class="form-group" id="password-strength">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" id="password-strength">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <button type="submit" value="enter" class="btn btn-lg btn-success btn-block">Reset password</button>
        </fieldset>
    }
</div>