
    ViewBag.Title = "Сброс пароля";
}

<div class="checkForm login">

    @*<div class="headerSmallScreen">
        <a href='@Url.Action("Index", "StartPage")'>
            <img src='@Url.Content("~/Content/img/logo.png")' alt="logo" />
        </a>
    </div>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Новый пароль<span>Для установки нового пароля введите:</span></legend>
            @Html.HiddenFor(model => model.Code)

            <div class="inputWrap">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Новый пароль" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <i class="fas fa-lock"></i>
            </div>

            <div class="inputWrap">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Подтвердите пароль" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                <i class="fas fa-lock"></i>
            </div>

            <div class="checkFormWrapBtn">
                @Html.ActionLink("Отмена", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn transparent colorGrey" })
                <button type="submit" value="enter" class="fullBg">Продолжить</button>
            </div>
        </fieldset>*@
    }
</div>
